<%- include('./partials/boilerplate')%>

    <%- include('./partials/header')%>
    <div id="error" class="w-full border h-screen flex items-center justify-center">
        <h1 class="text-white text-6xl"> <%= message %> </h1>
    </div>

    <%- include('./partials/footer')%>

<%- include('./partials/lower')%>